body {
    margin : 0;
}

#wrap {
    margin: 0 auto;
    width : 1200px;
    height: 1000px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mid ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#mid {
    float: left;
    width: 800px;
    height: 1000px;
}

#title {
    margin-top: 80px;
    width: 800px;
    height: 140px;
    
}

#join {
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 30px;
    
}

#table {
    width: 800px;
    height: 40px;
    border: 1px solid #999;
    border-top: 2px solid black;
    display: table;

    
}

#ta_left {
    width: 50px;
    height: 30px;
    font-size: 13px;
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
}

#ta_right {
    font-size: 13px;
    width : 200px;
    height: 30px;

    display: table-cell;
    vertical-align: middle;
}

.red {
    padding-left: 4px;
    font-size: 15px;
    color: red;
}

#basic_info {
    width: 800px;
    height: 600px;
}

#info_header {
    width: 800px;
    height: 25px;
    font-size: 12px;
    margin-bottom: 0;
}

#header_left {
    font-size: 15px;
    font-weight: bold;
    float: left;
}

#header_right {
    float: right;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡ mid info 기본정보  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#info_mid {
    width : 800px;
    height: 549px;
    border: 1px solid #999;
    border-bottom: 2px solid black;
}

.long_rct {
    width: 800px;
    height: 60px;
    border-bottom: 1px solid #999;
}

.Rct {
    float: left;
    width: 200px;
    height: 20px;
    padding : 15px 0px 15px 0px;    
}

.left_class {
    width: 200px;
    height: 20px;
}

.R_rct {
    font-size: 13px;
    padding : 15px 0px 15px 30px;
    float: left;
    width: 550px;
    height: 20px;
}

.R_rct select {
    height: 22px;
}

.R_rct input {
    border : 2px black solid;
}

.left_class {
    padding-left: 30px;
    width: 150px;
    font-size: 13px;
}

.right_class {
    width: 300px;
    height: 20px;
}

/* 가입버튼 */ 

#base_footer {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    border: 2px solid black;
}

#base_footer:hover {
    opacity: 0.5;
    transition: 0.5s;
    background-color: white;
    color: black;
    border: 2px solid black;

}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ right ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


#right {
    float: left;
    width: 150px;
    height: 1000px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ left ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#left {
    float: left;
    margin: 0 auto;
    width: 250px;
    height: 1000px;
}

#left_menu {
    margin-top: 40px;
    text-align: center;
    position: fixed;
    padding: 15px;
    left: 50px;
    top: 50px;
    width: 140px;
    height: 420px;
    background: rgba(255,255,255,0.4);
    cursor: pointer; /* 화살표 모양으로 바꾸기 */
    opacity: 1;
    transition: .5s;
}

#left_logo {
    text-align: center;
}

#left_menu:hover {
    background: rgba(255,255,255,0.8);
    opacity: 1;
    transition: .7s ease-in;
}

#menu_id a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding : 0px 5px 0px 5px;
    
}

#menu_id a:hover {
    color: orchid;
    opacity: 1;
    transition: .4s ease-in;
}

#descrip {
    margin : 15px 15px 30px 15px;
}

#descrip p a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom : 0; 
}

#descrip a:hover {
    font-size: 20px large;
    font-weight: bolder;
    color: orchid;
    transition: .4s ease-in;
}

#fontawesome {
    font-size: 30px;
}

#fontawesome a {
    text-decoration: none;
    color : black;
    margin-right: 5px;
}

#fontawesome a:hover {
    color: black;
}


